<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jishen_W1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,884},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,884},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W3.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,756},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W4.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,884},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Jishen_W5.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,242},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
            <key>Jishen_W6.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,691},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W7.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,628},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W8.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,563},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,794},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>arrUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{92,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>bB_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,484},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bB_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,332},{84,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,184}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bR_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,418},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bR_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,316},{84,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,184}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bY_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,402},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bY_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,284},{84,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,184}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,167},{245,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,163}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>bb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{245,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,163}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>bb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,50},{232,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,186}}</string>
                <key>sourceSize</key>
                <string>{232,186}</string>
            </dict>
            <key>bb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{451,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,80}}</string>
                <key>sourceSize</key>
                <string>{451,80}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,370},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,332},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>bor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{167,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,227}}</string>
                <key>sourceSize</key>
                <string>{167,227}</string>
            </dict>
            <key>bor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,720},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,396},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>btnN_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,697},{55,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,115}}</string>
                <key>sourceSize</key>
                <string>{55,115}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,122},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>coinLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>icmain.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,926},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>icnBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,508},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>icnBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>icnBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,468},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>ictili1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,923},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>icvideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,926},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>iczuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,923},{69,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,57}}</string>
                <key>sourceSize</key>
                <string>{69,57}</string>
            </dict>
            <key>jishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,783},{126,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,133}}</string>
                <key>sourceSize</key>
                <string>{126,133}</string>
            </dict>
            <key>jishen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,500},{126,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,133}}</string>
                <key>sourceSize</key>
                <string>{126,133}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,609},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>relife_timeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,465},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>subWeapon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,640},{166,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,141}}</string>
                <key>sourceSize</key>
                <string>{166,141}</string>
            </dict>
            <key>subWeapon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{172,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,140}}</string>
                <key>sourceSize</key>
                <string>{172,140}</string>
            </dict>
            <key>subWeapon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,370},{183,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,136}</string>
            </dict>
            <key>subWeapon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,550},{164,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,145}}</string>
                <key>sourceSize</key>
                <string>{164,145}</string>
            </dict>
            <key>subWeapon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,680},{163,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,146}}</string>
                <key>sourceSize</key>
                <string>{163,146}</string>
            </dict>
            <key>subWeapon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{164,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,145}}</string>
                <key>sourceSize</key>
                <string>{164,145}</string>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,485},{107,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,76}}</string>
                <key>sourceSize</key>
                <string>{107,76}</string>
            </dict>
            <key>tl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,517},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>wudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>xueTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{641,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,18}}</string>
                <key>sourceSize</key>
                <string>{641,18}</string>
            </dict>
            <key>xueTiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{651,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,26}}</string>
                <key>sourceSize</key>
                <string>{651,26}</string>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,132},{199,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,182}}</string>
                <key>sourceSize</key>
                <string>{199,182}</string>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,418},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,663},{31,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3add35edd3d7bff70111b8550ffd3171$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
